<h2>Product-items</h2>
<div *ngFor="let product of products">
  <h3>
    <a [href]="product.link">{{ product.name }}</a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <img [src]="product.image" width="250px" />
  <p *ngIf="product.rating">Rating: {{ product.rating }}</p>
  <form action="https://telegram.me/share/url?url=" targer="_blank">
    <button type="button">Share</button>
  </form>
</div>
<div *ngFor="let product of products"></div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
